<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Josefin Sans:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,600;0,700;1,700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,400;1,600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Judson:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Freehand:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Koh Santepheap:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Rozha One:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Rammetto One:wght@400&display=swap"
    />

    <style>
      body {
        margin: 0;
        line-height: normal;
      }
    </style>
  </head>
  <body>
    <div
      style="
        width: 100%;
        position: relative;
        background-color: #fff;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0px 22px 0px 0px;
        box-sizing: border-box;
        gap: 28px;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        font-size: 36px;
        color: #fff;
        font-family: Inter;
      "
    >
      <div
        style="
          width: 445px;
          border-radius: 0px 10px 10px 0px;
          background-color: #8d0000;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          justify-content: flex-start;
          padding: 12px 14px 49px 10px;
          box-sizing: border-box;
          gap: 44px;
          min-width: 445px;
          max-width: 100%;
        "
      >
        <div
          style="
            width: 445px;
            height: 1117px;
            position: relative;
            border-radius: 0px 10px 10px 0px;
            background-color: #8d0000;
            display: none;
            max-width: 100%;
          "
        ></div>
        <div
          style="
            align-self: stretch;
            border-radius: 20px;
            background-color: #580000;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;
            padding: 14px 17px;
            box-sizing: border-box;
            gap: 24px;
            max-width: 100%;
            z-index: 1;
          "
        >
          <div
            style="
              height: 72px;
              width: 421px;
              position: relative;
              border-radius: 20px;
              background-color: #580000;
              display: none;
              max-width: 100%;
            "
          ></div>
          <div
            style="
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              justify-content: flex-start;
              padding: 9px 0px 0px;
            "
          >
            <img
              style="width: 16px; height: 26px; position: relative; z-index: 2"
              loading="lazy"
              alt=""
              src="./public/vector3.svg"
            />
          </div>
          <a
            style="
              text-decoration: none;
              position: relative;
              color: inherit;
              z-index: 2;
            "
            >PROFILE</a
          >
        </div>
        <div
          style="
            align-self: stretch;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-end;
            padding: 0px 17px 189px 14px;
            box-sizing: border-box;
            max-width: 100%;
            font-size: 24px;
          "
        >
          <div
            style="
              flex: 1;
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              justify-content: flex-start;
              gap: 1px;
              max-width: 100%;
            "
          >
            <div
              style="
                align-self: stretch;
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: center;
                padding: 0px 20px 8px 40px;
              "
            >
              <div style="height: 218px; width: 218px; position: relative">
                <img
                  style="
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                  "
                  alt=""
                  src="./public/vector-15.svg"
                />

                <div
                  style="
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                  "
                >
                  <div
                    style="
                      position: absolute;
                      width: calc(100% - 28px);
                      top: 15px;
                      right: 14px;
                      left: 14px;
                      border-radius: 200px;
                      background-color: #fff;
                      height: 188px;
                      overflow: hidden;
                      display: flex;
                      flex-direction: row;
                      align-items: flex-start;
                      justify-content: flex-start;
                      z-index: 1;
                    "
                  >
                    <div
                      style="
                        height: 195px;
                        width: 216px;
                        position: absolute;
                        margin: 0 !important;
                        top: -4px;
                        right: -20px;
                      "
                    >
                      <img
                        style="
                          position: absolute;
                          top: 0px;
                          left: 0px;
                          width: 100%;
                          height: 100%;
                          object-fit: cover;
                        "
                        alt=""
                        src="./public/image-171@2x.png"
                      />

                      <img
                        style="
                          position: absolute;
                          top: 0px;
                          left: 0px;
                          width: 100%;
                          height: 100%;
                          object-fit: cover;
                          z-index: 1;
                        "
                        loading="lazy"
                        alt=""
                        src="./public/image-171@2x.png"
                      />
                    </div>
                  </div>
                  <img
                    style="
                      position: absolute;
                      top: 0px;
                      left: 0px;
                      width: 100%;
                      height: 100%;
                      z-index: 3;
                    "
                    alt=""
                    src="./public/vector-15.svg"
                  />
                </div>
              </div>
            </div>
            <div
              style="
                align-self: stretch;
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: center;
                padding: 0px 20px 0px 50px;
              "
            >
              <h2
                style="
                  margin: 0;
                  position: relative;
                  font-size: inherit;
                  font-weight: 600;
                  font-family: inherit;
                  display: inline-block;
                  min-width: 126px;
                  z-index: 1;
                "
              >
                Nama user
              </h2>
            </div>
            <div
              style="
                align-self: stretch;
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: center;
                padding: 0px 20px 20px 37px;
                font-size: 20px;
              "
            >
              <div
                style="
                  position: relative;
                  display: inline-block;
                  min-width: 61px;
                  z-index: 1;
                "
              >
                @user
              </div>
            </div>
            <div
              style="
                align-self: stretch;
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: center;
                padding: 0px 20px 28px 40px;
              "
            >
              <button
                style="
                  cursor: pointer;
                  border: none;
                  padding: 4px 19px 2px 38px;
                  background-color: #580000;
                  border-radius: 20px;
                  overflow-x: auto;
                  display: flex;
                  flex-direction: row;
                  align-items: flex-start;
                  justify-content: flex-start;
                  gap: 10.5px;
                  z-index: 1;
                "
              >
                <div
                  style="
                    height: 55px;
                    width: 226px;
                    position: relative;
                    border-radius: 20px;
                    background-color: #580000;
                    flex-shrink: 0;
                    display: none;
                  "
                ></div>
                <div
                  style="
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    padding: 9px 0px 0px;
                  "
                >
                  <div
                    style="
                      position: relative;
                      font-size: 24px;
                      font-family: Inter;
                      color: #fff;
                      text-align: left;
                      display: inline-block;
                      min-width: 108px;
                      z-index: 2;
                    "
                  >
                    edit profil
                  </div>
                </div>
                <div
                  style="
                    height: 50px;
                    width: 1px;
                    position: relative;
                    border-right: 1px solid #8d0000;
                    box-sizing: border-box;
                    flex-shrink: 0;
                    z-index: 2;
                  "
                ></div>
                <div
                  style="
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    padding: 7px 0px 0px;
                  "
                >
                  <div style="width: 39px; height: 41px; position: relative">
                    <img
                      style="
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        width: 100%;
                        height: 100%;
                        z-index: 2;
                      "
                      alt=""
                      src="./public/ellipse-87.svg"
                    />

                    <img
                      style="
                        position: absolute;
                        top: 5px;
                        left: 7px;
                        width: 24px;
                        height: 24px;
                        z-index: 3;
                      "
                      alt=""
                      src="./public/border-color.svg"
                    />
                  </div>
                </div>
              </button>
            </div>
            <div
              style="
                align-self: stretch;
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: flex-start;
                padding: 0px 0px 37px;
                box-sizing: border-box;
                max-width: 100%;
              "
            >
              <img
                style="
                  flex: 1;
                  position: relative;
                  max-width: 100%;
                  overflow: hidden;
                  max-height: 100%;
                  object-fit: contain;
                  margin-top: -5px;
                  z-index: 1;
                "
                loading="lazy"
                alt=""
              />
            </div>
            <div
              style="
                width: 256px;
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: flex-start;
                padding: 0px 20px;
                box-sizing: border-box;
                text-align: center;
                font-size: 15px;
                font-family: Poppins;
              "
            >
              <div
                style="
                  flex: 1;
                  display: flex;
                  flex-direction: row;
                  align-items: flex-start;
                  justify-content: flex-start;
                "
              >
                <div
                  style="
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    gap: 40px;
                  "
                >
                  <img
                    style="
                      width: 31px;
                      height: 28px;
                      position: relative;
                      z-index: 1;
                    "
                    loading="lazy"
                    alt=""
                    src="./public/group-42732080211.svg"
                  />

                  <div
                    style="
                      display: flex;
                      flex-direction: row;
                      align-items: flex-start;
                      justify-content: flex-start;
                      padding: 0px 6px 0px 1px;
                    "
                  >
                    <img
                      style="
                        height: 22px;
                        width: 28px;
                        position: relative;
                        z-index: 1;
                      "
                      loading="lazy"
                      alt=""
                      src="./public/group-427320803.svg"
                    />
                  </div>
                  <div
                    style="
                      display: flex;
                      flex-direction: row;
                      align-items: flex-start;
                      justify-content: flex-start;
                      padding: 0px 0px 0px 4px;
                    "
                  >
                    <img
                      style="
                        height: 29px;
                        width: 31px;
                        position: relative;
                        z-index: 2;
                      "
                      loading="lazy"
                      alt=""
                      src="./public/group-427320804.svg"
                    />
                  </div>
                  <img
                    style="
                      width: 33px;
                      height: 27px;
                      position: relative;
                      z-index: 1;
                    "
                    loading="lazy"
                    alt=""
                    src="./public/chat-info.svg"
                  />
                </div>
                <div
                  style="
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    padding: 1px 0px 0px;
                    margin-left: -8px;
                  "
                >
                  <div
                    style="
                      align-self: stretch;
                      display: flex;
                      flex-direction: column;
                      align-items: flex-start;
                      justify-content: flex-start;
                      gap: 39px;
                    "
                  >
                    <div
                      style="
                        width: 127px;
                        display: flex;
                        flex-direction: row;
                        align-items: flex-start;
                        justify-content: flex-start;
                        padding: 0px 16px;
                        box-sizing: border-box;
                      "
                    >
                      <div
                        style="
                          flex: 1;
                          position: relative;
                          font-weight: 600;
                          z-index: 1;
                        "
                      >
                        Settings
                      </div>
                    </div>
                    <div
                      style="
                        align-self: stretch;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        justify-content: flex-start;
                        gap: 46px;
                      "
                    >
                      <div
                        style="
                          align-self: stretch;
                          position: relative;
                          font-weight: 600;
                          z-index: 2;
                        "
                      >
                        Transaction History
                      </div>
                      <div
                        style="
                          align-self: stretch;
                          display: flex;
                          flex-direction: row;
                          align-items: flex-start;
                          justify-content: flex-end;
                          padding: 0px 6px 0px 8px;
                        "
                      >
                        <div
                          style="
                            flex: 1;
                            position: relative;
                            font-weight: 600;
                            z-index: 1;
                          "
                        >
                          User Management
                        </div>
                      </div>
                    </div>
                    <div
                      style="
                        width: 134px;
                        display: flex;
                        flex-direction: row;
                        align-items: flex-start;
                        justify-content: flex-start;
                        padding: 0px 8px;
                        box-sizing: border-box;
                      "
                    >
                      <div
                        style="
                          flex: 1;
                          position: relative;
                          font-weight: 600;
                          z-index: 1;
                        "
                      >
                        Information
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          style="
            width: 396px;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: center;
            padding: 0px 20px;
            box-sizing: border-box;
            max-width: 100%;
          "
        >
          <button
            style="
              cursor: pointer;
              border: none;
              padding: 4px 19px 2px 38px;
              background-color: #580000;
              border-radius: 20px;
              overflow-x: auto;
              display: flex;
              flex-direction: row;
              align-items: flex-start;
              justify-content: flex-start;
              gap: 12px;
              z-index: 1;
            "
          >
            <div
              style="
                height: 55px;
                width: 226px;
                position: relative;
                border-radius: 20px;
                background-color: #580000;
                flex-shrink: 0;
                display: none;
              "
            ></div>
            <div
              style="
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                padding: 9px 18px 0px 0px;
              "
            >
              <div
                style="
                  position: relative;
                  font-size: 24px;
                  font-family: Inter;
                  color: #fff;
                  text-align: left;
                  display: inline-block;
                  min-width: 87px;
                  z-index: 2;
                "
              >
                Log out
              </div>
            </div>
            <div
              style="
                height: 50px;
                width: 1px;
                position: relative;
                border-right: 1px solid #8d0000;
                box-sizing: border-box;
                flex-shrink: 0;
                z-index: 2;
              "
            ></div>
            <div
              style="
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                padding: 3px 0px 0px;
              "
            >
              <div style="width: 39px; height: 41px; position: relative">
                <img
                  style="
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                  "
                  alt=""
                  src="./public/ellipse-87.svg"
                />

                <img
                  style="
                    position: absolute;
                    top: 2px;
                    left: 5px;
                    width: 32px;
                    height: 29px;
                    z-index: 3;
                  "
                  alt=""
                  src="./public/logout1.svg"
                />
              </div>
            </div>
          </button>
        </div>
      </div>
      <main
        style="
          flex: 1;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          padding: 48px 0px 0px;
          box-sizing: border-box;
          min-width: 801px;
          max-width: 100%;
        "
      >
        <section
          style="
            align-self: stretch;
            border-radius: 15px;
            background-color: #f7f3f3;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            padding: 24px 20px 39px 23px;
            box-sizing: border-box;
            gap: 27px;
            max-width: 100%;
            text-align: left;
            font-size: 15px;
            color: #000;
            font-family: Poppins;
          "
        >
          <div
            style="
              width: 1233px;
              height: 1040px;
              position: relative;
              border-radius: 15px;
              background-color: #f7f3f3;
              display: none;
              max-width: 100%;
            "
          ></div>
          <div
            style="
              align-self: stretch;
              border-radius: 10px;
              background-color: #fff;
              display: flex;
              flex-direction: row;
              align-items: flex-start;
              justify-content: flex-start;
              padding: 52px 35px 51px;
              box-sizing: border-box;
              gap: 38px;
              max-width: 100%;
              z-index: 1;
            "
          >
            <div
              style="
                height: 238px;
                width: 1190px;
                position: relative;
                border-radius: 10px;
                background-color: #fff;
                display: none;
                max-width: 100%;
              "
            ></div>
            <div
              style="
                width: 143px;
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: flex-start;
                min-width: 143px;
              "
            >
              <div style="height: 135px; flex: 1; position: relative">
                <img
                  style="
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                    z-index: 4;
                  "
                  alt=""
                  src="./public/vector-33.svg"
                />

                <div
                  style="
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                  "
                >
                  <img
                    style="
                      position: absolute;
                      width: calc(100% - 18px);
                      top: 9px;
                      right: 9px;
                      left: 9px;
                      border-radius: 200px;
                      max-width: 100%;
                      overflow: hidden;
                      height: 117px;
                      object-fit: cover;
                      z-index: 2;
                    "
                    alt=""
                    src="./public/placeholder@2x.png"
                  />

                  <img
                    style="
                      position: absolute;
                      top: 100px;
                      left: 106px;
                      width: 36px;
                      height: 35px;
                      z-index: 3;
                    "
                    loading="lazy"
                    alt=""
                    src="./public/group-427320812.svg"
                  />

                  <img
                    style="
                      position: absolute;
                      top: 0px;
                      left: 0px;
                      width: 100%;
                      height: 100%;
                      z-index: 5;
                    "
                    alt=""
                    src="./public/vector-33.svg"
                  />
                </div>
              </div>
            </div>
            <div
              style="
                width: 245px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                padding: 35px 0px 0px;
                box-sizing: border-box;
                min-width: 245px;
              "
            >
              <div
                style="
                  align-self: stretch;
                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  justify-content: flex-start;
                  gap: 5px;
                "
              >
                <div
                  style="
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    justify-content: flex-start;
                    padding: 0px 2px;
                  "
                >
                  <div
                    style="
                      position: relative;
                      font-weight: 500;
                      display: inline-block;
                      min-width: 118px;
                      z-index: 2;
                    "
                  >
                    Pilih file upload:
                  </div>
                </div>
                <div
                  style="
                    align-self: stretch;
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    justify-content: flex-start;
                    gap: 8px;
                    font-size: 13px;
                  "
                >
                  <button
                    style="
                      cursor: pointer;
                      border: 2px solid rgba(0, 0, 0, 0.3);
                      padding: 6px 25px 5px;
                      background-color: transparent;
                      flex: 1;
                      border-radius: 10px;
                      background: linear-gradient(
                        180deg,
                        #ebebeb 2.5%,
                        #c1c0c0 99.5%
                      );
                      box-sizing: border-box;
                      display: flex;
                      flex-direction: row;
                      align-items: flex-start;
                      justify-content: flex-start;
                      min-width: 75px;
                      white-space: nowrap;
                      z-index: 2;
                    "
                  >
                    <div
                      style="
                        height: 37px;
                        width: 143px;
                        position: relative;
                        border-radius: 10px;
                        background: linear-gradient(
                          180deg,
                          #ebebeb 2.5%,
                          #c1c0c0 99.5%
                        );
                        border: 2px solid rgba(0, 0, 0, 0.3);
                        box-sizing: border-box;
                        display: none;
                      "
                    ></div>
                    <div
                      style="
                        position: relative;
                        font-size: 13px;
                        font-weight: 500;
                        font-family: Poppins;
                        color: #000;
                        text-align: left;
                        display: inline-block;
                        min-width: 75px;
                        z-index: 3;
                      "
                    >
                      Choose File
                    </div>
                  </button>
                  <div
                    style="
                      display: flex;
                      flex-direction: column;
                      align-items: flex-start;
                      justify-content: flex-start;
                      padding: 9px 0px 0px;
                    "
                  >
                    <div
                      style="
                        position: relative;
                        font-weight: 500;
                        display: inline-block;
                        min-width: 94px;
                        z-index: 2;
                      "
                    >
                      No File chosen
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            style="
              align-self: stretch;
              border-radius: 10px;
              background-color: #fff;
              display: flex;
              flex-direction: column;
              align-items: flex-end;
              justify-content: flex-start;
              padding: 60px 202px 23px 55px;
              box-sizing: border-box;
              gap: 107px;
              max-width: 100%;
              z-index: 1;
              font-size: 16px;
              color: rgba(0, 0, 0, 0.7);
            "
          >
            <div
              style="
                width: 1190px;
                height: 712px;
                position: relative;
                border-radius: 10px;
                background-color: #fff;
                display: none;
                max-width: 100%;
              "
            ></div>
            <div
              style="
                align-self: stretch;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 30px;
                max-width: 100%;
              "
            >
              <div
                style="
                  align-self: stretch;
                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  justify-content: flex-start;
                  padding: 0px 0px 3px;
                  box-sizing: border-box;
                  gap: 4px;
                  max-width: 100%;
                  text-align: center;
                "
              >
                <div
                  style="
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    justify-content: flex-start;
                    padding: 0px 5px;
                  "
                >
                  <div
                    style="
                      position: relative;
                      line-height: 16px;
                      display: inline-block;
                      min-width: 49px;
                      z-index: 2;
                    "
                  >
                    Name
                  </div>
                </div>
                <div
                  style="
                    align-self: stretch;
                    border-radius: 15px;
                    border: 1px solid #000;
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    justify-content: flex-start;
                    padding: 9px 17px;
                    max-width: 100%;
                    z-index: 2;
                  "
                >
                  <div
                    style="
                      height: 47px;
                      width: 933px;
                      position: relative;
                      border-radius: 15px;
                      border: 1px solid #000;
                      box-sizing: border-box;
                      display: none;
                      max-width: 100%;
                    "
                  ></div>
                  <input
                    style="
                      width: 211px;
                      border: none;
                      outline: none;
                      font-weight: 600;
                      font-family: Poppins;
                      font-size: 17px;
                      background-color: transparent;
                      height: 25px;
                      position: relative;
                      color: #000;
                      text-align: left;
                      display: flex;
                      align-items: center;
                      padding: 0;
                      z-index: 3;
                    "
                    placeholder="Robert Hassain"
                    type="text"
                  />
                </div>
              </div>
              <div
                style="
                  align-self: stretch;
                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  justify-content: flex-start;
                  padding: 0px 0px 3px;
                  box-sizing: border-box;
                  gap: 4px;
                  max-width: 100%;
                "
              >
                <div
                  style="
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    justify-content: flex-start;
                    padding: 0px 5px;
                  "
                >
                  <div
                    style="
                      position: relative;
                      line-height: 16px;
                      display: inline-block;
                      min-width: 110px;
                      z-index: 2;
                    "
                  >
                    Email Addres
                  </div>
                </div>
                <div
                  style="
                    align-self: stretch;
                    border-radius: 15px;
                    border: 1px solid #000;
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    justify-content: flex-start;
                    padding: 8px 17px 10px;
                    max-width: 100%;
                    z-index: 2;
                  "
                >
                  <div
                    style="
                      height: 47px;
                      width: 933px;
                      position: relative;
                      border-radius: 15px;
                      border: 1px solid #000;
                      box-sizing: border-box;
                      display: none;
                      max-width: 100%;
                    "
                  ></div>
                  <input
                    style="
                      width: 231px;
                      border: none;
                      outline: none;
                      font-weight: 600;
                      font-family: Poppins;
                      font-size: 17px;
                      background-color: transparent;
                      height: 25px;
                      position: relative;
                      text-decoration: underline;
                      color: #000;
                      text-align: left;
                      display: flex;
                      align-items: center;
                      white-space: nowrap;
                      padding: 0;
                      z-index: 3;
                    "
                    placeholder="yourmail@gmail.com"
                    type="text"
                  />
                </div>
              </div>
              <div
                style="
                  align-self: stretch;
                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  justify-content: flex-start;
                  padding: 0px 0px 3px;
                  box-sizing: border-box;
                  gap: 4px;
                  max-width: 100%;
                "
              >
                <div
                  style="
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    justify-content: flex-start;
                    padding: 0px 5px;
                  "
                >
                  <div
                    style="
                      position: relative;
                      line-height: 16px;
                      display: inline-block;
                      min-width: 92px;
                      z-index: 2;
                    "
                  >
                    Username
                  </div>
                </div>
                <div
                  style="
                    align-self: stretch;
                    border-radius: 15px;
                    border: 1px solid #000;
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    justify-content: flex-start;
                    padding: 9px 18px;
                    max-width: 100%;
                    z-index: 2;
                  "
                >
                  <div
                    style="
                      height: 47px;
                      width: 933px;
                      position: relative;
                      border-radius: 15px;
                      border: 1px solid #000;
                      box-sizing: border-box;
                      display: none;
                      max-width: 100%;
                    "
                  ></div>
                  <input
                    style="
                      width: 211px;
                      border: none;
                      outline: none;
                      font-weight: 600;
                      font-family: Poppins;
                      font-size: 17px;
                      background-color: transparent;
                      height: 25px;
                      position: relative;
                      color: #000;
                      text-align: left;
                      display: flex;
                      align-items: center;
                      padding: 0;
                      z-index: 3;
                    "
                    placeholder="@robberthssn"
                    type="text"
                  />
                </div>
              </div>
              <div
                style="
                  align-self: stretch;
                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  justify-content: flex-start;
                  gap: 4px;
                  max-width: 100%;
                "
              >
                <div
                  style="
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    justify-content: flex-start;
                    padding: 0px 5px;
                  "
                >
                  <div
                    style="
                      position: relative;
                      line-height: 16px;
                      display: inline-block;
                      min-width: 82px;
                      z-index: 2;
                    "
                  >
                    Password
                  </div>
                </div>
                <div
                  style="
                    align-self: stretch;
                    border-radius: 15px;
                    border: 1px solid #000;
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    justify-content: flex-start;
                    padding: 3px 20px 0px;
                    max-width: 100%;
                    z-index: 2;
                    font-size: 30px;
                    color: #000;
                  "
                >
                  <div
                    style="
                      height: 47px;
                      width: 933px;
                      position: relative;
                      border-radius: 15px;
                      border: 1px solid #000;
                      box-sizing: border-box;
                      display: none;
                      max-width: 100%;
                    "
                  ></div>
                  <h1
                    style="
                      margin: 0;
                      width: 211px;
                      position: relative;
                      font-size: inherit;
                      font-weight: 900;
                      font-family: inherit;
                      display: flex;
                      align-items: center;
                      flex-shrink: 0;
                      z-index: 3;
                    "
                  >
                    ...........
                  </h1>
                </div>
              </div>
              <div
                style="
                  align-self: stretch;
                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  justify-content: flex-start;
                  gap: 4px;
                  max-width: 100%;
                "
              >
                <div
                  style="
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    justify-content: flex-start;
                    padding: 0px 5px;
                  "
                >
                  <div
                    style="
                      position: relative;
                      line-height: 16px;
                      display: inline-block;
                      min-width: 82px;
                      z-index: 2;
                    "
                  >
                    Birth Date
                  </div>
                </div>
                <div
                  style="
                    align-self: stretch;
                    border-radius: 15px;
                    border: 1px solid #000;
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    justify-content: space-between;
                    padding: 0px 2px 0px 19px;
                    max-width: 100%;
                    gap: 20px;
                    z-index: 2;
                  "
                >
                  <div
                    style="
                      align-self: stretch;
                      width: 933px;
                      position: relative;
                      border-radius: 15px;
                      border: 1px solid #000;
                      box-sizing: border-box;
                      display: none;
                      max-width: 100%;
                    "
                  ></div>
                  <input
                    style="
                      width: 211px;
                      border: none;
                      outline: none;
                      background-color: transparent;
                      height: 36px;
                      display: flex;
                      flex-direction: column;
                      align-items: flex-start;
                      justify-content: flex-start;
                      padding: 11px 0px 0px;
                      box-sizing: border-box;
                      font-family: Poppins;
                      font-style: italic;
                      font-weight: 600;
                      font-size: 17px;
                      color: #000;
                    "
                    placeholder="12/12/2009"
                    type="text"
                  />

                  <div
                    style="
                      width: 65px;
                      border-radius: 0px 15px 15px 0px;
                      background-color: #580000;
                      border: 1px solid #000;
                      box-sizing: border-box;
                      display: flex;
                      flex-direction: row;
                      align-items: flex-start;
                      justify-content: flex-start;
                      padding: 7px 11px 6px 16px;
                      z-index: 3;
                    "
                  >
                    <div
                      style="
                        height: 47px;
                        width: 65px;
                        position: relative;
                        border-radius: 0px 15px 15px 0px;
                        background-color: #580000;
                        border: 1px solid #000;
                        box-sizing: border-box;
                        display: none;
                      "
                    ></div>
                    <img
                      style="
                        height: 30px;
                        width: 36px;
                        position: relative;
                        z-index: 4;
                      "
                      alt=""
                      src="./public/calendar-month.svg"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div
              style="
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: flex-end;
                padding: 0px 12px;
              "
            >
              <button
                style="
                  cursor: pointer;
                  border: none;
                  padding: 4px 19px 2px 54px;
                  background-color: #580000;
                  border-radius: 20px;
                  overflow-x: auto;
                  display: flex;
                  flex-direction: row;
                  align-items: flex-start;
                  justify-content: flex-start;
                  gap: 12px;
                  z-index: 2;
                "
              >
                <div
                  style="
                    height: 55px;
                    width: 226px;
                    position: relative;
                    border-radius: 20px;
                    background-color: #580000;
                    flex-shrink: 0;
                    display: none;
                  "
                ></div>
                <div
                  style="
                    width: 89px;
                    flex-shrink: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    padding: 9px 20px 0px 0px;
                    box-sizing: border-box;
                  "
                >
                  <div
                    style="
                      position: relative;
                      font-size: 24px;
                      font-family: Inter;
                      color: #fff;
                      text-align: left;
                      display: inline-block;
                      min-width: 60px;
                      z-index: 3;
                    "
                  >
                    Done
                  </div>
                </div>
                <div
                  style="
                    height: 50px;
                    width: 1px;
                    position: relative;
                    border-right: 1px solid #8d0000;
                    box-sizing: border-box;
                    flex-shrink: 0;
                    z-index: 3;
                  "
                ></div>
                <div
                  style="
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    padding: 3px 0px 0px;
                  "
                >
                  <div style="width: 39px; height: 41px; position: relative">
                    <img
                      style="
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        width: 100%;
                        height: 100%;
                        z-index: 3;
                      "
                      alt=""
                      src="./public/ellipse-87.svg"
                    />

                    <img
                      style="
                        position: absolute;
                        top: 3px;
                        left: 5px;
                        width: 28px;
                        height: 28px;
                        z-index: 4;
                      "
                      alt=""
                      src="./public/save.svg"
                    />
                  </div>
                </div>
              </button>
            </div>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
